{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Contact Information</h5>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>Christina Leslie, PhD</td>
                            <td><a href="mailto:cleslie@cbio.mskcc.org">cleslie@cbio.mskcc.org</a></td>
                            <td><a href="http://cbio.mskcc.org/leslielab/">cbio.mskcc.org/leslielab</a></td>
                        </tr>
                        <tr>
                            <td>Andrea Ventura, MD, PhD</td>
                            <td><a href="mailto:venturaa@mskcc.org">venturaa@mskcc.org</a></td>
                            <td><a href="https://venturalaboratory.com/">venturalaboratory.com</a></td>
                        </tr>
                        <tr>
                            <td>Yuri Pritykin, PhD</td>
                            <td><a href="mailto:pritykin@princeton.edu">pritykin@princeton.edu</a></td>
                            <td><a href="https://pritykin.github.io/">pritykin.github.io</a></td>
                        </tr>
                        <tr>
                            <td>Henri Schmidt</td>
                            <td><a href="mailto:henri.schmidt@princeton.edu">henri.schmidt@princeton.edu</a></td>
                            <td><a href="https://github.com/schmidt73">pritykin.github.io</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        For any questions, comments, or concerns about the website or the project, feel free to
                        contact <a href="mailto:henri.schmidt@princeton.edu">Henri Schmidt</a> as he is currently
                        in charge. All bug reports are greatly appreciated.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}