<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GuideScan2: CRISPR Guide Design</title>

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.endpoint == 'web.grna_design' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('web.grna_design') }}">gRNA Design <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.endpoint == 'web.gene_targeting_library' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('web.gene_targeting_library') }}">Gene-targeting Library</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'web.grna_sequence_search' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('web.grna_sequence_search') }}">gRNA Sequence Search</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'web.about' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('web.about') }}">About</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'web.downloads' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('web.downloads') }}">Downloads</a>
            <li class="nav-item {% if request.endpoint == 'web.contact' %}active{% endif %}">
            <li>
                <a class="nav-link" href="{{ url_for('web.contact') }}">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="/">
                            <img src="{{ url_for('static', filename='img/logo.png') }}"
                                 height=106
                                 objectfit="contain"
                                 alt="logo"/>
                        </a>
                        <br/><br/>
                        <h3>&nbsp;CRISPR guideRNA design and analysis</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block main %}
    {% endblock %}

</main>

<footer class="footer text-center">
    <div class="container">
        Guidescan v{{ app_version() }}
    </div>
</footer>

<script src="{{ url_for('static', filename='vendor/jquery-3.6.4.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

{% block js %}
{% endblock %}
</body>

</html>
