{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var examples;
            $.getJSON(window.location.origin + '{{ url_for('info.example_sequences') }}', (data) => {
                examples = data;
                refreshMenu();
                refreshExamples();
            });
            $('#selectOrganism').on('change', function () {
                refreshMenu();
                refreshExamples();
            });
            $('#selectEnzyme').on('change', function () {
                refreshExamples();
            });

            function refreshMenu() {
                var organism = $('#selectOrganism').find(":selected").text();
                var enzymeOptions = examples[organism];
                $('#selectEnzyme').empty();
                if (enzymeOptions) {
                    for (var enzyme in enzymeOptions) {
                        $('#selectEnzyme').append("<option value='"+enzyme+"'>"+enzyme+"</option>");
                    }
                }
            }

            function refreshExamples() {
                var organism = $('#selectOrganism').find(":selected").text();
                var enzyme = $('#selectEnzyme').find(":selected").text();
                $('#txtSequence').val(examples[organism][enzyme]);
            }
        });
    </script>
{% endblock %}

{% block main %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">gRNA Sequence Search</h5>
                    <div class="card-body">
                        <p class="card-text">Search for Guidescan2 vetted gRNAs by their sequence directly.</p>
                        <form action="" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="selectOrganism">Organism</label>
                                    <select class="form-control" id="selectOrganism" name="selectOrganism">
                                        <option>hg38</option>
                                        <option>mm10</option>
                                        <option>ce11</option>
                                        <option>dm6</option>
                                        <option>rn6</option>
                                        <option>mm39</option>
                                        <option>sacCer3</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="selectEnzyme">Enzyme</label>
                                    <select class="form-control" id="selectEnzyme" name="selectEnzyme">
                                        <option>cas9</option>
                                        <option>cpf1</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="txtSequence">Input gRNAs to search against in the
                                        Guidescan2 database. The PAM is added automatically based on enzyme
                                        selection.</label>
                                    <textarea class="form-control" id="txtSequence" rows="4"
                                              name="txtSequence"></textarea>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit Query</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
