{% extends "job.html" %}

{% block main %}
    {{ super() }}
    {% if result.status == 'SUCCESS' %}
        <div class="container-fluid">
            {% for matches in result.result['matches'].values() %}
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h5 class="card-header">Sequence {{ loop.index }}</h5>
                            <div class="card-body">
                                <span class="badge badge-primary">{{ matches['sequence'] }}</span>
                                {% if matches['num-off-targets'] > 0 %}
                                    <span class="badge badge-success">Matches: {{ matches['num-exact-matches'] }} exact, {{ matches['num-inexact-matches'] }} inexact</span>
                                {% else %}
                                    <span class="badge badge-danger">Matches: None found</span>
                                {% endif %}
                                <span class="badge badge-light">Specificity: {{ matches['specificity'] }}</span>
                                <span class="badge badge-light">Off-target Summary: {{ matches['off-target-summary'] }}</span>
                                {% if matches['num-off-targets'] > 0 %}
                                    <p><small>The first 1000 matches for each unique distance are reported below.</small></p>
                                    <table class="display datatable resulttable">
                                        <thead>
                                        <tr>
                                            <th>distance</th>
                                            <th>coordinate</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for distance, offtarget_details in matches['off-targets'].items() %}
                                            {% for offtarget_detail in offtarget_details[:1000] %}
                                                <tr>
                                                    <td>{{ distance }}</td>
                                                    <td>{{ offtarget_detail['coordinate'] }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    {% if result.status == 'SUCCESS' %}
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    {% endif %}
{% endblock %}

{% block js %}
    {{ super() }}
    {% if result.status == 'SUCCESS' %}
        {% if first_region != "" %}
            <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/igv@2.15.5/dist/igv.min.js"></script>
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function () {
                    var table = $('.resulttable').DataTable({
                        searching: false,
                        lengthChange: false,
                        bInfo: false,
                        pagingType: "numbers",
                        columns: [
                            {
                                data: 'distance'
                            },
                            {
                                data: 'coordinate',
                                render: function (data) {
                                    return '<a target="_blank" href="https://igv.org/app/?genome={{ result.result['organism'] }}&locus=' + data + '">' + data + '</a>';
                                }
                            }
                        ]
                    });
                });
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
